


/* VARIABLES */

$text-color: #333;

$visited-purple: #6f5499;

$font-family: Arial, sans-serif;

$screen-xs: 320px;
$screen-tn: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-hg: 1400px;



/* GLOBAL ELEMENTS */

body {
    margin: 0;
    background: white;
    font-family: $font-family;
    line-height: 1.4;
}

a {
    color: inherit;
    cursor: pointer;
}

a[href^="mailto:"] {
    word-break: break-word;
}

p {
    margin-top: 0;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
}

label {
    display: block;
    cursor: pointer;
}

img[srcset] {
    max-width: 100%;
}

input, textarea, select, button {
    font-family: inherit;
    font-weight: inherit;
    border-radius: 0;
}

th {
    text-align: left;
    vertical-align: top;
}