@import '../vendor/bootstrap/less/bootstrap.less';
@import '../vendor/fontawesome/less/font-awesome.less';
@fa-font-path: "@{themeurl}/vendor/fontawesome/fonts";



/* VARIABLES */

@body-bg: #fff;
@text-color: #4a4a49;
@brand-primary: #50A825;

@font-size-base: 18px;
@font-family-base: Arial, sans-serif;
@headings-font-family: @font-family-sans-serif;

@border-radius-base: 0;
@border-radius-large: 0;



/* GLOBAL ELEMENTS */

body {
  overflow-y: scroll;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: underline;
  background-color: transparent;
}

@media (min-width: @screen-sm-min) {
  
}



/* NAVBAR */

@media (max-width: @screen-sm-max) {
  .navbar-toggle {
    border-color: @brand-primary;
  
    .icon-bar {
      background: @brand-primary;
    }
  }
}



/* OTHER */

