


/* VARIABLES */

$text-color: #333;

$visited-purple: #6f5499;

$font-family: Arial, sans-serif;

$screen-xs: 320px;
$screen-tn: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-hg: 1500px;



/* GLOBAL ELEMENTS */

body {
    margin: 0;
    background: white;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a[href^="mailto:"] {
    word-break: break-word;
}

p {
    margin-top: 0;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
}

label {
    display: block;
    cursor: pointer;
}

img[srcset] {
    max-width: 100%;
}

input, textarea, select, button {
    background: initial;
    padding: initial;
    border: initial;
    border-radius: 0;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

th {
    text-align: left;
    vertical-align: top;
}



/* DOCUMENT */

html {
    font-family: $font-family;
    line-height: 1.4;
}



/* RESPONSIVE BACKGROUND IMAGE */

.responsive-background-image {
    display: none !important;
}



/* RESPONSIVE EMBEDS */

.embed-responsive { // http://www.lorut.no/responsive-youtube-vimeo-embed-bootstrap-roots-io-wordpress/
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }

  // Modifier class for 16:9 aspect ratio
  &.embed-responsive-16by9 {
    padding-bottom: 56.25%;
  }

  // Modifier class for 4:3 aspect ratio
  &.embed-responsive-4by3 {
    padding-bottom: 75%;
  }
}