@import "main.less";



/* EDITOR STYLES */

body {
  background: #fff;
  margin: 20px;
  padding: 0;
  display: block;
  height: auto;
  width: auto;
}
.table tbody > tr > th,
.table tbody > tr > td {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
}
.wpview-wrap {
  max-width: 600px;
}